<%- include('../layout/user/header') %>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <!-- Left Side - Images -->
            <div class="d-flex">
                <a class="navbar-brand" href="#">
                    <img src="./images/userpage/Homy-logos_transparent.png" alt="Logo" width="100" height="80" class="d-inline-block align-text-top">
                </a>
                <a class="navbar-brand" href="#">
                    <img src="./images/userpage/homy.png" alt="Logo" width="140" height="80" class="d-inline-block align-text-top">
                </a>
            </div>
            <!-- Center - Navigation Links -->
            <div class="d-flex justify-content-center">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Collections</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Contact</a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Right Side - Search, Login, Wishlist, Cart -->
            <div class="d-flex ml-auto">
                <!-- Add your search bar, login, wishlist, and cart links here -->
                <!-- Example: -->
                <input type="text" class="form-control m-3" placeholder="Search">
                
                
                <a href="#" class="nav-link m-3" >Wishlist</a>
                <a href="#" class="nav-link m-3 ">Cart</a>
            </div>
        </div>
    </nav>
</header>
<section>
    <div class="container">
        <h1 class="text-center text-primary mt-5">Welcome To Homy</h1>
        <div class="row justify-content-center m-5">
            <div class="col-md-6 mt-5 p-4 bg-light     text-dark rounded">
               
                <h1 class="text-center mb-4"> Login</h1>

                <form action="/login" method="post">
                    <div class="mb-3">
                      
                              <%= login_error %>
                         
                        <input type="text" class="form-control" name="email" placeholder="Email">
                    </div>

                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>

                    <div class="mb-3 text-center">
                        <input type="submit" class="btn btn-primary btn-block" value="Login">
                    </div>
                </form>

                <form action="/register">
                    <div class="mb-3 text-center">
                        <input type="submit" class="btn btn-success btn-block" value="SignUp">
                    </div>
                </form>
                <a href="" data-bs-toggle="modal" data-bs-target="#staticForgotPassword1">Forgot Password ?</a>
                
                <!-- Button trigger modal -->

  
  <!-- Modal one-->
  <div class="modal fade" id="staticForgotPassword1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
           
            <div class="modal-body">
                <h5 class="text-dark "> Forgot Password ?</h5>
                <div class="mb-3">
                    <label for="emailInput" class="form-label text-dark"></label>
                    <input type="email" class="form-control" id="ForgotPasswordEmail" placeholder="Enter the email ID">
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary " data-bs-dismiss="modal"  id="ForgotPasswordEmailBtn" >Continue</button>
            </div>
           
        </div>
    </div>
</div>
  <!-- Modal one end-->
  <!-- Modal Two-->
  <div class="modal fade" id="staticForgotPassword2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
           
            <div class="modal-body">
                <h5 class="text-dark "> Enter OTP</h5>
                <h5 id="ForgotPasswordEmail2"></h5>
                <div class="mb-3 row">
                   
                    <div class="col-sm-10">
                        
                        <div class="d-flex flex-wrap justify-content-center ms-4">
                            <input type="hidden" id="userIdOtp" name="UserId">
                            <input type="text" class="form-control mb-2 mx-2 otpBox" id="otpOne" maxlength="1" style="width: 4em; height: 4em;">
                            <input type="text" class="form-control mb-2 mx-2 otpBox" id="otpTwo" maxlength="1" style="width: 4em; height: 4em;">
                            <input type="text" class="form-control mb-2 mx-2 otpBox" id="otpThree" maxlength="1" style="width: 4em; height: 4em;">
                            <input type="text" class="form-control mb-2 mx-2 otpBox" id="otpFour" maxlength="1" style="width: 4em; height: 4em;">
                            
                        </div>
                    </div>
                </div>
                
                
                
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary " data-bs-dismiss="modal" id="ForgotPasswordOtpBtn">Continue</button>
            </div>
           
        </div>
    </div>
</div>
  <!-- Modal two end-->
<!-- Modal three start-->
  <div class="modal fade" id="staticForgotPassword3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
           
            <div class="modal-body">
                <h5 class="text-dark ">Create New Password</h5>
                <div class="mb-3 row">
                   
                    <div class="col-sm-10">
                        
                        <div class="d-flex flex-wrap">
                            <input type="hidden" id="UserID3">
                            <input type="password" class="form-control m-2" id="newPassword" placeholder="New Password">
                            <input type="password" class="form-control m-2" id="confirmPassword" placeholder="Confirm Password">
                          
                        </div>
                    </div>
                </div>  
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary " data-bs-dismiss="modal" id="forgotPasswordNewEmail">Continue</button>
            </div>
           
        </div>
    </div>
</div>

 <!-- Modal three end-->
 <!-- Modal four start-->
 <div class="modal fade" id="staticBackdrop4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
           
            <div class="modal-body">
                
                <div class="mb-3 row">
                   
                    <div class="col-sm-10">
                        
                        <div class="d-flex flex-wrap">
                            <h4 class="text-success  ">Password Changed Successfully</h4>
                            
                        </div>
                    </div>
                </div>  
            </div>
            <div class="modal-footer d-flex justify-content-center">
               
                <a href="" data-bs-toggle="modal" ><button type="button" class="btn btn-primary " data-bs-dismiss="modal">OK</button></a>
            </div>
           
        </div>
    </div>
</div>

 <!-- Modal four end-->

  
                
            </div>
        </div>
    </div>
</section>




<!-- otp input automatically moves -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
      const otpBoxes = document.querySelectorAll('.otpBox');
      otpBoxes.forEach(function(box, index) {
        box.addEventListener('input', function() {
          if (this.value.length === 1) {
            if (index < otpBoxes.length - 1) {
              otpBoxes[index + 1].focus();
            } else {
              // All OTP digits are filled, you can trigger the submit button click here if needed
              document.getElementById('OtpSubmitBtn').click();
            }
          }
        });
      });
    });
  </script>

<!-- forgot password mail sending1 -->
<script>
        const ForgotPasswordEmailBtn=document.getElementById('ForgotPasswordEmailBtn')
        const ForgotPasswordEmail2=document.getElementById('ForgotPasswordEmail2')
        ForgotPasswordEmailBtn.addEventListener('click',()=>{
        const ForgotPasswordEmail=document.getElementById('ForgotPasswordEmail').value
        console.log(ForgotPasswordEmail)
       const UserId=document.getElementById('userIdOtp')

       const emailRegix=/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/

       if(emailRegix.test(ForgotPasswordEmail))
       {

        fetch(`/forgotPassword`,{
           method:'POST',
           headers:{
            "Content-Type":"application/json"
           },
           body: JSON.stringify({ForgotPasswordEmail:ForgotPasswordEmail}) 
        })
        .then((response) => response.json())
        .then((data)=>{
            console.log("success")
            // console.log(data)
            if(data[0])
            {
                console.log(data)
                ForgotPasswordEmail2.value=ForgotPasswordEmail
                console.log("user ID passing"+data[2])
                UserId.value=data[2]
                $("#staticForgotPassword2").modal("show");
            }
            else
            {
               
                Swal.fire({
                    title: "Sorry! No Account Exist",
                    icon: "error"
                })
            }
        })
        .catch((error)=>{
            console.log("error");
            console.log(error);
        })
       }
       else
       {
        console.log("error");
        Swal.fire({
            title: "Enter Correct Email Format",
            text: "",
            icon: "error"
            })
            .then(()=>{
                document.getElementById('ForgotPasswordEmail').value=" "
            })
            
       }
        

    })
</script>

<!-- forgot paasword and otp sending mdoal -->
<script>
    console.log("otp modal started")
const ForgotPasswordOtpBtn=document.getElementById('ForgotPasswordOtpBtn')

ForgotPasswordOtpBtn.addEventListener('click',()=>{
    const userID=document.getElementById('userIdOtp').value
    const otpOne=document.getElementById('otpOne').value
    const otpTwo=document.getElementById('otpTwo').value
    const otpThree=document.getElementById('otpThree').value
    const otpFour=document.getElementById('otpFour').value
    
    const forgotPasswordOtp=`${otpOne}${otpTwo}${otpThree}${otpFour}`
    console.log(forgotPasswordOtp)
    console.log(userID);

    fetch(`/forgotPasswordOtpVerification?id=${forgotPasswordOtp}`,{
        method:'POST',
        headers:{
            "Content-Type": "application/json",
        },
        body:JSON.stringify({userId:userID})
    })
    .then((response)=>response.json())
    .then((data)=>{
        if(data[0])
        {
            console.log("success true")
            console.log(data);
            const UserID3=document.getElementById('UserID3')
            UserID3.value=data[2]
            $("#staticForgotPassword3").modal("show");

        }
        else
        {
            console.log("success false")
            console.log(data);
            Swal.fire({
                    title: "Invalid OTP",
                    icon: "error"
            })
        }
        
    })
    .catch((error)=>{
        console.log("error reply")
        console.log(error)
    })

})
</script>


<script>
const forgotPasswordNewEmail=document.getElementById('forgotPasswordNewEmail')
forgotPasswordNewEmail.addEventListener('click',()=>{

    const UserId=document.getElementById('UserID3').value
    const newPassword=document.getElementById('newPassword').value
    const confirmPassword=document.getElementById('confirmPassword').value
    console.log(newPassword);
    console.log(confirmPassword);
    console.log(UserId);
    
    if(newPassword===confirmPassword)
    {
        fetch(`/forgotPasswordNewEmail?id=${UserId}`,{
        method:'POST',
        headers:{
            "Content-Type":"application/json",
        },
        body: JSON.stringify({newPassword:newPassword})
    })
    .then((response)=>response.json())
    .then((data)=>{
        if(data)
        {
            console.log("new password saved")            
            Swal.fire({
            title: "Password Changed Successfully",
            icon: "success"
            });
        }
        else
        {
            console.log("new password not saved")
            Swal.fire({
                    title: "Invalid OTP",
                    icon: "error"
            })
        }
        
    })
    .catch((error)=>{
        console.log("error occured new passowrd this")
        console.log(error)
    })

    }
    else
    {
        Swal.fire({
                    title: "Password Not Matching",
                    icon: "error"
            })
         
    }
    
})
</script>

<%- include('../layout/user/footer') %>
