body {
    font-family: 'Roboto', sans-serif;
}



/* body {
    font-family: 'Arial', sans-serif;
} */

header, section, footer {
    margin-top: 20px; /* Add top margin to header, section, and footer */
    text-align: center; /* Center-align content in header, section, and footer */
}

nav {
    background-color: #343a40; /* Dark background color for the navigation bar */
    color: #0e0d0d; /* White text color for the navigation bar */
}

nav a {
    color: #060606 !important; /* White text color for navigation links */
}

.carousel-inner img {
    width: 100%; /* Make carousel images responsive */
}

.topicOne,.topicTwo {
    margin-top: 40px; /* Add top margin to the "We Believe You Are Unique" section */
}

.row-cols-1 {
    margin-top: 20px; /* Add top margin to the card row */
}

.card {
    border: none; /* Remove card borders */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle box shadow to cards */
}

.exploreButton button {
    background-color: #e1e1e3; /* Blue background color for the Explore button */
    color: #030303; /* White text color for the Explore button */
    border: none; /* Remove button border */
    padding: 10px 20px; /* Add padding to the button */
    font-size: 16px; /* Increase font size */
    cursor: pointer;
}

.singleCard {
    margin-top: 40px; /* Add top margin to the single card section */
    color: white;
}

.card-title, .card-text {
    color: #040404; /* White text color for card titles and text */
}
.last {
    display: flex;
    justify-content: center;
    align-items: center; /* Align items vertically in the center */
    margin-top: 5rem;
}

/* .subscription {
    background-image: url("../../images/home/banner2.jpg");
    background-size: cover; 
    background-position: center; 
    width: 70rem;
    height: 40rem;
    
} */

.subscription {
    background-image: url("../../images/home/banner2.jpg");
    background-size: cover;
    background-position: center;
    width: 70rem;
    height: 40rem;
   display: flex;
   flex-direction: column;
   
    align-items: center;
    
    padding: 2rem;
    color: #fff;
    margin-top: 5rem;
    margin-bottom: 7rem;
}

.sub1 {
    max-width: 500px;
   margin-top: 3rem;
    justify-content: center;
    align-content: center;
}

.sub1 h6 {
    font-size: 16px;
    color: #18395c; /* Yellow color for the JOIN OUR HOME text */
}

.sub1 h3 {
    font-size: 28px;
    line-height: 1.4;
    color: #030303;
}

.sub2 {
    margin-top: 2rem;
}

.sub2 input[type="text"] {
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 1rem;
   
}

.sub2 input[type="submit"] {
    background-color: #18395c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sub2 input[type="submit"]:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.footer-wrapper {
    background-color: #f8f8f8; /* Light grey background color */
    padding: 40px 0 10px; /* Add padding for spacing */
}

/* Additional styles for the updated footer */
.footer_part {
    padding: 50px 0 10px; /* Adjust padding for better spacing */
}

.footer_part a {
    color: #555 !important; /* Change link color to gray */
    text-decoration: none !important; /* Remove underline from links */
}

.single_footer_part h4 {
    color: #333; /* Adjust heading color */
}

.subscribe_form {
    display: flex;
    align-items: center;
}

.newsletter-input {
    padding: 10px;
    border: 1px solid #ddd; /* Add a border for input */
    border-radius: 5px; /* Add border-radius for a rounded appearance */
    margin-right: 10px;
}
.footer_icon.social_icon ul {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    align-items: center;
    list-style: none;
    padding: 0;
}

.footer_icon.social_icon ul li {
    margin-right: 10px; /* Adjust as needed */
}

.footer_icon.social_icon a {
    color: #b4b4b4; /* Adjust link color as needed */
}

.copyright_part{
    margin-top: 3rem;

}

.col-lg-8{
    text-align: start
}


.catLeft{
    margin-top: 3rem;
    text-align: left;
  
    background-color: #f7f7f7;
  min-height: 700px;
}
.catList {
    margin-top: 30px;
    text-align: left;
    padding-left: 2rem;
    font-size: 13px;

}

.link-no-underline {
    text-decoration: none !important;
    color: black;
    display: block;
    
}


.catCard{
    width: 15rem;
    height: 20rem;
    background-color: #f8f7f7;
}




.price {
    width: 100%;
 
}

#minPrice, #maxPrice{
  width: 95px;
  font-size: small;
}

.price-input {
    width: 70%; /* Adjust the width as needed */
}

.card-img-top {
    width:200;
}


.card-img-top1 {
    width: 280px;
    height: 280px;

}
   

.leftouter{
    height: 630px;
}


.mainImage{
    width:35rem;
    /* margin-top:2rem;
    margin-left: 2rem; */
  
}


/* #zoomable-Image {
    transition: transform 0.3s ease-in-out;
}

#zoomable-Image:hover {
    transform: scale(1.1);
} */

#img-container{
    width:600px;
    height:600px;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.zoomable-Image{
  width:600px;
  height:600px;
position: absolute;
}
 .cropper-container{
  width: 300px;
  height: 300px;
 }

.innerRight{
    margin-top: 6rem;
}

.innerRightImage{
    margin: 1rem;
    margin-left: 4rem;
}




/* Add some additional styles for better responsiveness */
@media (max-width: 768px) {
    .footer_part {
        text-align: center;
    }
    
    .footer_part .single_footer_part {
        margin-bottom: 20px;
    }

    .footer_icon {
        margin-top: 20px;
    }
}

.dropdown-menu .dropdown-item:hover {
    background-color: #d2d2d2; 
    cursor: pointer;
  }
  

  @media (max-width: 576px) {
    .dropdown-menu {
      width: 100%; 
    }
  }



  /* profile */
  .account-settings {
    background-color: #f8f9fa;
    padding: 40px 0;

  }

  .leftOne h4 {
    color: #ffffff;
    margin-top: 20px;
  }

  .account-nav {
    list-style: none;
    padding: 0;
    
    
  }

  .account-nav li {
    margin-bottom: 10px;
  }

  .account-nav a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
  }

  .account-nav a:hover {
    color: #007bff;
    font-size: x-large;
  }

  .bg-light-tertiary {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
  }

  .personalDetails, .contactDetails {
    margin-bottom: 20px;
  }

  .personalDetails h5, .contactDetails h5 {
    color: #007bff;
  }

  .name, .gender, .dob, .email, .mobile {
    margin-bottom: 15px;
  }

  input[readonly]{
    border: none;
    background-color: #f1f2f4;
    width: 200;
    display: inline-block;
    margin-bottom: 5px;
  }



  a {
    text-decoration: none;
    color: #007bff;
    
  }

  a:hover {
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    .leftTwo {
      margin-top: 20px;
    }
  }
  .leftTwo{
    text-align: left;
    padding-left: 20px;
  }

  .name,.gender,.email,.mobile{
    text-align: left;
  }
  .innerLeft{
    height: 600px;
    background-color:#3b5d70 ;

    
  }
  .innerRight{
    min-height: 600px;
  }

  .custom-input {
    width: 500px;
    height: 40px;
   
  }
  .cartPage{
    min-height: 650px;
  }

  .cartFirst{
    height: 50px;
  }

  .cartSecond{
    min-height: 70px;
  }
  .cartThird{
    min-height: 500px;
  }

  .firstLine, .secondLine, .thirdLine, .fourthLine{
    text-align: left;
    height: 25px;
  }
.zero{
   display: flex;
   align-items: start;
}
  .addressTypeBtn{
    text-align: center;
    width: 5rem;
    margin-bottom: 8px;
    background-color: rgb(17, 129, 17);
    color: white;
  }
  
  #userProfileUpload{
    visibility: hidden;
  }

  #imageSubmitButton,
#imageCancelButton {
  display: none;
  margin:5px ;
}

.ImageEditUpload{
    display: none;
}


#nameSubmitButton {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    
    text-decoration: none;
  }
.cartBox{
  min-height: 550px;
}

.cartPriceOne{
  display: flex;
  justify-content: center;
}
/* .cartTableRow{
  border-bottom-color:#e9ecef ;
  
} */

  .checkBox{
    min-height: 550px;
  }
  .addressSection{
    margin-top: 10px;
    min-height: 100px;
    background-color: rgb(217, 217, 217);
    border-style: initial;
    border-color: #030303;
  }
  .addAddress{
    background-color:#18395c ;
    padding-top:5px;
    height:40px;
    
  }
  .PaymentHead{
    padding-top:5px;
    background-color:#18395c ;
    height:40px;
    color: white;
  }

  .orderConfirm{
    padding-top:7px;
    background-color:#ffffff ;
    height:auto;
    width: auto;
    color: rgb(255, 255, 255);
    margin-top: 10px;
  }
  .userOrderTop{
    text-align: left;
     
  }

.orderP{
  margin: 0;
  font-size: small;
}




.productListOrder{
  margin: 0;
}

.ratingBtn{
  border:none;
  background-color: #f7f7f7;
}
.sortBys{
  text-decoration: none;
  
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 450px;
 
  margin-left: 500px;
  border-color: #030303;
  
}
.sortBy{
  color: black;
}
.catInner1{
  display: flex;
  flex-direction: row;
  margin-bottom:5px;
}

.clearAll{
  margin-left: 210px;
}




.btn-group .btn {
  font-size: 14px; 
 
  height: 35px;
  margin-top: 18px;
  
}


.dropdown-menu li a {
  font-size: 14px; 
  width:200px;
}


.dropdown-menu li a:hover {
  background-color: #f8f9fa; 
  color: #000;
}

/* Custom styles for toast notification */
.toast-container {
  z-index: 10000; /* Ensure it appears above other content */
}

.toast {
  background-color: #d3d3d3; /* Background color */
  color: rgb(0, 0, 0); /* Text color */
  border-radius: 8px; /* Rounded corners */
}

.toast-header {
  background-color: #45a049; /* Header background color */
  color: white; /* Header text color */
  border-bottom: none; /* Remove bottom border */
}

.toast-header .btn-close {
  color: white; /* Close button color */
}

.toast-body {
  padding: 10px 15px; /* Padding */
}

.couInner{
  margin: 1px;
  font-size: small;
  margin-left: 8px;
}


/* search--category start*/
/* styles.css */
.search-container {
  position: relative;
}

#searchResults {
  z-index: 1000;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-top: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#searchResults li {
  padding: 10px;
  cursor: pointer;
}

#searchResults li:hover {
  background-color: #f0f0f0;
}



/* search--category end*/
.noheart-Btn{
  border-color: transparent;
  background-color: transparent;
}

.noheart-Btn:hover{
  border-color: transparent;
  background-color: transparent;
}

.myheart-Btn{
  border-color: transparent;
  background-color: transparent;
}

.myheart-Btn:hover{
  border-color: transparent;
  background-color: transparent;
}





.wallet-Balance {
  width: 100%;
  height: 120px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f9fa;
  border: 2px solid #ced4da;
}
.innerWallet {
  color: #6c757d;
}
.innerAmount {
  font-size: 24px;
  margin-top: 10px;
}
.wallet-Adding {
  padding: 35px;
  height: 120px;
  border-radius: 10px;
  background-color: #f8f9fa;
  border: 2px solid #ced4da;
}
.innerAdding input[type="text"] {
  width: 150px;
  height: 40px;
  border: 2px solid #ced4da;
  border-radius: 5px;
  padding: 5px 10px;
}
.innerAdding button {
  height: 40px;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
}
/* Style for table */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f8f9fa;
}
/* table td, table th {
  border: 1px solid #dee2e6;
  padding: 8px;
  text-align: center;
} */
table td button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: green;
}
table th, table td {
  padding: 10px;
  border: 1px solid #dee2e6;
}
/* table th {
  background-color: #f8f9fa;
  color: #6c757d;
} */
table th {
  background-color: #007bff;
  color: #fff;
}
table button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
table button.green {
  background-color: green;
}
table button.red {
  background-color: rgb(210, 17, 17);
}
.accordion-header {
  background-color: #007bff;
  color: #f5f5f5;
}
.transactions{
  background-color: #7e95ad;
  padding: 6px;
  border-radius: 10px;
  
}
.addressEditBtn,.addressRemoveBtn{
  width: 120px;
  height: 35px;
}
.delievryAddress{
  width: 180px;
  height: 35px;
}
.addressChangeBtn{
  width: 120px;
  height: 35px;
}


.referalLeftBtn{
  height: 160px;
}

.referalRightBtn{
  height: 160px;
  width: 100%;
  background-color: #f8f8f8;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.referralCopyBtn{
  width: 220px;
  height: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.notify-green {
  background-color: green !important;
  color: white !important;
}
.otpModalSignup{
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.rendOtp{
  margin-top: 20px;
  margin-bottom: 20px;
}







/* ///////////////////////zoom / image-------------------------------------*/
h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 5px;
}

.price {
  margin-bottom: 10px;
}

.wrapper {
  margin: 0 auto;
  width: 860px;
}

.columns {
  margin: 0 auto;
  max-width: 900px;
}

.details {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
}

.thumbnail-container {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
}

.price {
  font-size: 20px;
  color: #777474;
}

.wishlist-container {
  padding-left: 0;
}

#header {
  width: 100%;
  text-align: center;
  background: white;
  padding: 5px;
  /*box-shadow: 0 10px 17px 0px #c0c0c0;*/
  box-shadow: 0 5px 10px 0px #dbd7d7;
}
#header img {
  max-width: 30px;
}

.columns {
  margin-top: 30px;
}

.button {
  width: 100%;
  border-radius: 0;
}

.select, select {
  width: 100%;
  border-radius: 0 !important;
}

#wishlist-container {
  padding-left: 0;
}

#buy-container {
  padding-right: 0;
}

.small-text {
  font-size: 14px;
}

.small-text span {
  font-weight: bold;
}

.buy-button {
  background: #ff6900;
  color: white;
  border: none;
}

.buy-button:hover, .buy-button:active, .buy-button:focus {
  color: white;
  opacity: 0.9;
}


@media only screen and (max-width: 769px) {

  #wishlist-container, #buy-container {
    padding: 0 0 15px 0;
  }
}


/* 
.invoice-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.invoice {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.invoice-header {
  text-align: center;
  margin-bottom: 20px;
}

.invoice-company {
  font-size: 24px;
  color: #333;
}

.invoice-date {
  font-size: 16px;
  color: #555;
}

.invoice-address {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.invoice-address h2 {
  margin-bottom: 10px;
}

.invoice-content {
  margin-bottom: 20px;
}

.table-invoice {
  width: 100%;
  border-collapse: collapse;

}

.table-invoice th,
.table-invoice td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.table-invoice th {
  background-color: #f9f9f9;
  text-align: left;
}

.text-center {
  text-align: center;
  color: black;
  font-size: small;
}

.text-right {
  text-align: center;
  font-size: small;
  color: #000;
}
.text-left {
  text-align: center;
  font-size: small;
  color: #000;
}

.invoice-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.invoice-note {
  margin-bottom: 20px;
  font-style: italic;
}

.invoice-footer {
  text-align: center;
  font-size: 14px;
  color: #888;
}
address{
  font-size: small;
} */

/* Sample CSS styles for the invoice */


.invoice {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  font-family: Arial, sans-serif;

}

.invoice-company {
  color: #333;
  font-size: 24px;

}
.invoice-slogan{
  margin-bottom: 35px;
}
.invoice-header {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.invoice-address {
  display: flex;
  justify-content: space-between;
}

.invoice-address h5 {
  color: #555;
  margin-bottom: 10px;
}

.invoice-content {
  border-top: 1px solid #e1e1e1;
  padding-top: 20px;
  margin-top: 20px;
}
.invoice-headOne{
  margin-top: 20px;
}
.invoice-headTwo{
  margin-left: 200px;

}
.table-invoice {
  width: 100%;
  border-collapse: collapse;
}

.table-invoice th, .table-invoice td {
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;
  text-align: left;
}

.invoice-price {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.invoice-note {
  color: #777;
  margin-top: 20px;
  font-size: smaller;
}

.invoice-footer {
  border-top: 1px solid #e1e1e1;
  padding-top: 20px;
  margin-top: 20px;
  text-align: center;
  color: #777;
}

.invoice-from,.invoice-to{
  text-align: start;
}
.invoice-details{
  text-align: end;
}
.invoice-date{
  text-align:center;
  margin-top: 50px;
  margin-left: 70px
}


/*//////////////////////////////////////////////////////////////////
[ Slick1 ]*/
.wrap-slick1 {
  position: relative;
}

.item-slick1 {
  height: calc(100vh - 40px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.rs1-slick1 .item-slick1 {
  height: calc(100vh - 84px);
}

.rs2-slick1 .item-slick1 {
  height: 100vh;
}

@media (max-width: 991px) {
  .item-slick1 {
    height: calc(100vh - 70px) !important;
  }
}

.arrow-slick1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  font-size: 80px;
  color: rgba(0,0,0,0.3);
  position: absolute;
  opacity: 0;
  
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  z-index: 200;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.wrap-slick1:hover .arrow-slick1 {
  opacity: 1;
}

.arrow-slick1:hover {
  color: #7280e0;
}

.next-slick1 {
  right: 50px;
  left: auto;
}

.prev-slick1 {
  left: 50px;
  right: auto;
}

@media (max-width: 991px) {
  .next-slick1 {
    right: 15px;
  }

  .prev-slick1 {
    left: 15px;
  }
}

/*---------------------------------------------*/
.rs2-slick1 .arrow-slick1 {
  color: rgba(255,255,255,0.3);
}

.rs2-slick1 .arrow-slick1:hover {
  color: #7280e0;
}

.wrap-slick1-dots {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 60px;
}

.slick1-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.slick1-dots li {
  max-width: 190px;
  position: relative;
  cursor: pointer;
  margin-right: 1px;
}

.slick1-dots li img {
  width: 100%;
}

.caption-dots-slick1 {
  font-family: Poppins-ExtraLight;
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  text-align: center;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  padding: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}

.slick1-dots li:hover .caption-dots-slick1 {
  opacity: 1;
}

.slick1-dots li.slick-active .caption-dots-slick1 {
  opacity: 1;
}

@media (max-width: 575px) {
  .caption-dots-slick1 {
    font-size: 13px;
  }

  .wrap-slick1-dots {
    bottom: 25px;
  }
}


/*//////////////////////////////////////////////////////////////////
[ Slick2 ]*/

.wrap-slick2 {
  position: relative;
  margin-right: -15px;
  margin-left: -15px;
}

/* ------------------------------------ */
.arrow-slick2 {
  position: absolute;
  z-index: 100;
  top: calc((100% - 60px) / 2);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 39px;
  color: #ccc;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.arrow-slick2:hover {
  color: #666;
}

.next-slick2 {
  right: -40px;
}

.prev-slick2 {
  left: -40px;
}

@media (max-width: 1300px) {
  .next-slick2 {
    right: 0px;
  }

  .prev-slick2 {
    left: 0px;
  }
}


/*//////////////////////////////////////////////////////////////////
[ Slick3 ]*/
.wrap-slick3 {
  position: relative;
}

/*---------------------------------------------*/
.wrap-slick3-arrows {
  position: absolute;
  z-index: 100;
  width: 83.333333%;
  right: 0;
  top: calc(50% - 20px);
}

.arrow-slick3 {
  font-size: 25px;
  color: #fff;
  
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,0.5);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.arrow-slick3:hover {
  background-color: rgba(0,0,0,0.9);
}

.prev-slick3 {left: 0px;}
.next-slick3 {right: 0px;}

/*---------------------------------------------*/
.wrap-slick3-dots {
  width: 11.111111%;
}

.slick3 {
  width: 83.333333%;
}

.slick3-dots li {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 27px;
}

.slick3-dots li img {
  width: 100%;
}

.slick3-dot-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.slick3-dot-overlay:hover {
  border-color: #ccc;
}

.slick3-dots .slick-active .slick3-dot-overlay {
  border-color: #ccc;
}



/* rating modal */
.modal-content {
  background-color: #f9f9f9;
  border-radius: 10px;
}
.modal-body {
  padding: 35px;
}
.starRating {
  text-align: center;
  margin-bottom: 5px;
}
.rating-container {
  display: inline-block;
}
.ratingBtns {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.ratingBtns  {
  color: #ffd700;
  font-size: 34px;
}
.ratingBtns:hover i {
  color: #ffc107;
}
.modal-footer {
  justify-content: center;
  border-top: none;
}
/* .btn {
  background-color: white;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.btn:hover {
  background-color: #e9e9e9;
  color: #000;
} */

.solidStar {
  position: absolute;
margin-top: 6px;
  z-index: 1;
}

.regularStar {
  position: relative;
  z-index: 2;

}



.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}